@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.letter-container {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    overflow: hidden;
}

.letter-container::before {
    content: "❤️";
    font-size: 4rem;
    position: absolute;
    top: 10px;
    right: 10px;
    animation: float 3s ease-in-out infinite;
}

.letter-container::after {
    content: "❤️";
    font-size: 4rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
    animation: float 3s ease-in-out infinite reverse;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.description {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
    font-weight: 300;
}

.highlight {
    color: #000;
    font-weight: bold;
}

.signature {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 30px;
}

.button {
    text-align: center;
    margin-top: 20px;
    color:black;
}

.botones {
    padding: 12px 30px;
    background-color: #000;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.botones a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.botones:hover {
    background-color: #333;
}

@media screen and (max-width: 574px) {
    .description {
        font-size: 1rem;
    }

    .botones {
        padding: 10px 20px;
    }
}
